<div class="jumbotron">
  <h1> Why buy ? .. when you can lease.</h1>
  <h2>Lease or share anything with your friends </h2>
</div>



<h2>About Us</h2>

<p> lEASY -- lease made Easy ! lEASY is a platform for leasing and sharing anything that you own with your friends. Be a resourceful person for your friends. Start sharing items less frequently used like camping tent, skii, Lawn mower, DSLR, toolskits etc.. Your friends will thank you for all those unused stuff lying around in your garage. </p>

<p> Make passive income by just lending any item that you own. In simple words, lEASY is Airbnb for anything and everything you own. Keep track of who borrowed what from you and when they need to return it </p>


<p> Looking for items ?? Search your friend network to lease an item you are looking for before you purchase it elsewhere. Didn't find an item you are looking for ? -- Send a broadcast message for selected group of friends requesting to lease an item you are looking for </p>

<p> Active participants will get an upgrade to start sharing and searching items on Friends of Friends network. Spread the word to lease and share things than to buy things.</p>


