<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- ####################################################################################################### -->
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src='https://dl.dropboxusercontent.com/s/jre5qflkiusvd43/laks.jpg?dl=0' width="360" height="400">
    </div>
  </div>
  <div class="col-md-6">
    <h2>About The Founder</h2>




    <p class="team_name">Lakshmi Narasimhan Ramakrishnan</p>
    <p class="team_description"> Lakshmi is a technology enthusiast who is keen in bringing about software solutions for common day to day problems to make life easier. lEASY is his first start up. </p>
    <p> Lakshmi believes in a <a href="http://www.theminimalists.com/">minimalist life-style </a>and hates owning unnecessary stuff that he doesn't use on a daily basis. </p>
    <p> Lakshmi started lEASY as a platform to spread minimalism to the world. We should try to share things as much as possible before thinking of owning them. </p>
    <p> You can feel free to connect with Lakshmi </p>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/lakshminarasimhanramakrishnan" data-format="hover" data-text="Lakshmi%20Narasimhan%20Ramakrishnan"></script>

    <div class="fb-follow" data-href="https://www.facebook.com/lakshminarasimhan.ramakrishnan" data-colorscheme="light" data-layout="button" data-show-faces="true"></div><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <a href="https://twitter.com/Laks_tweets" class="twitter-follow-button" data-show-count="false">Follow @Laks_tweets</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <!-- Place this code where you want the badge to render. -->
    <a href="//plus.google.com/u/0/110444022165365062270?prsrc=3"
       rel="publisher" target="_top" style="text-decoration:none;">
      <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/>
    </a>




  </div>
</div>

<h4>Email : lakshminarasimhan.uc@gmail.com</h4>
<h4>Phone : 3125134176</h4>
 