@import "bootstrap";
body {
	background-color: #f5f5f1;
	color: 333333;
	font-family: Arial, Helvetica, sans-serif;
}
.navbar-default{
	background-color: #efefeb;
}

.navbar-default .navbar-brand {
	background-color: #efefeb;
	font-family: guardian-egypt, georgia, serif;
	font-weight: 400;
	color: #d5641c;
	font-size: 30px;
}

navbar-default .navbar-nav > li > a {

	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #0192b5;
	font-size: 14px;
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1){
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

.caption {
h3 {
	font-size: 17px;
	margin:2px;
	}
	
p {
	font-size: 15px;
	margin:0px;
	}
}

.jumbotron{
  background: url('https://dl.dropboxusercontent.com/s/cvg4o65e8kqapnf/jumbotron.jpg?dl=0') no-repeat center center;
  h1, h2{
    font-family: guardian-egypt, guardian-egypt, georgia, serif;
  }
}


video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('https://dl.dropboxusercontent.com/s/0xg4lvvimdpk9dd/Leasy.jpg?dl=0') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
  opacity: .5;
}

#polina {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover {
  background: rgba(0,0,0,0.5);
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://dl.dropboxusercontent.com/s/0xg4lvvimdpk9dd/Leasy.jpg?dl=0) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}